
<form enctype="multipart/form-data" class="form-horizontal" name="hotelSearchForm">
	<fieldset>
		<div class="control-group ">
			<label for="package_name" class="control-label">Going to: {{singlepackage.package_name}}</label>
			<div class="controls">
				<label class="control-label">City:</label>
				<input class="form-control" type="text" ng-model="hotelCity">
				<label >State:</label>
				<input class="form-control" type="text" ng-model="hotelState">
			</div>
		</div>
		<div class="control-group ">
			<label for="start_date" class="control-label">Check in:</label>
			<input id='datepick2' class="form-control"  type="text" ng-model="hotelStartDate" placeholder="mm/dd/yyyy">
		</div>
		<div class="control-group ">
			<label for="end_date" class="control-label">Check out:</label>
			<div class="controls">
				<input id='datepick3' class="form-control" name="end_date" type="text" ng-model="hotelEndDate" placeholder="mm/dd/yyyy">
			</div>
		</div>
		<br>
		<div class="form-actions">
			<button class="btn btn-primary" ng-click="searchHotel('hotelResults')" 
					ng-disabled="hotelSearchForm.$invalid">Search</button>
		</div>	
		<div>
			<div class="col-lg-3 col-lg-2 sidebar">
				<strong><label for="submitDebugArea"> Submit result:</label></strong> <br />
				<textarea id="submitDebugArea">{{hotelResults | json}} </textarea>
				<br>
				<h3>{{hotelResults.HotelListResponse.EanWsError.verboseMessage}}</h3>
				<br>
				<img src="http://media.expedia.com{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].thumbNailUrl}}" width="175" height="175">
				<img src="{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].tripAdvisorRatingUrl}}">
				<br>
				<p>
					<div class="control-group ">
						<label for="email" class="control-label">Send confirmation to this email:</label>
						<div class="controls">
							<input id="email" name="email" type="text" ng-model="bookemail">			
						</div>
					</div> 
					<br>
					<button class="btn btn-primary" ng-click="bookSelectedHotel('booking')">Book this Hotel</button> {{bookHotel}}
				</p>
			<br>
			<textarea id="submitDebugArea">{{booking | json}} </textarea>
			<br>
			</div>
			<br>
			<div class="col-sm-9 main">
				<h4>Hotel ID:</h4>
				{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].hotelId}}
				<br>
				<h4>Hotel Rating:</h4>
				{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].hotelRating}}
				<br>
				<h4>Hotel Name:</h4>
				{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].name}}
				<br>
				<h4>Hotel Address:</h4>
				{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].address1}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].city}}, {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].stateProvinceCode}} {{hotelResults.HotelListResponse.HotelList.HotelSummary[1].postalCode}}
				<br>
				<h4>lat: </h4>{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].latitude}}
				<br>
				<h4>long: </h4>{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].longitude}}
				<br>
				<h4>Hotel TripAdvisor link: </h4>
				<a href="{{hotelResults.HotelListResponse.HotelList.HotelSummary[1].deepLink}}">TripAdvisor</a>
			</div>
				<br>
		</div><!--
<br>
		<span ng-bind="hotelCity"></span>
		<span ng-bind="hotelState"></span>
		<span ng-bind="hotelStartDate"></span>
		<span ng-bind="hotelEndDate"></span>-->
<!--			$(document).ready(
			  /* This is the function that will get executed after the DOM is fully loaded *
			  function () {
				$( "#datepicker1" ).datepicker({
				  changeMonth: true,//this option for allowing user to select month
				  changeYear: true //this option for allowing user to select from year range
				});
				$( "#datepicker2" ).datepicker({
				  changeMonth: true,//this option for allowing user to select month
				  changeYear: true //this option for allowing user to select from year range
				});
			  }
			);-->
	</fieldset>
</form>