
<br>
<br>
<br>
<br>
<br>


hotel-book.html
<br>
name: {{singlepackage.package_name}} ** <!--this works now-->
hotelId: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].hotelId}} ** 
arrivalDate: 09/23/2014 ** 
departureDate: 09/28/2014 ** 
supplierType: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].supplierType}} ** 
roomTypeCode: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.roomTypeCode}} ** 
rateCode: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.rateCode}} ** 
chargeableRate: {{hotelResults.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.RateInfos.RateInfo.ChargeableRateInfo['@total']}} **
room1SmokingPreference: NS ** 
"room1BedTypeId": '23' **
"room1": '2' **
packageId: {{singlepackage.id}} ** <!--this works now-->
<br>
bookrateCodeGlobal:  {{hotelResultsGlobal.HotelListResponse.HotelList.HotelSummary[0].RoomRateDetailsList.RoomRateDetails.rateCode}}
<br>
{{bookrateCode2}}
<br>

<form action="/agentapp/hotel-reservation/" method="POST" enctype="multipart/form-data" class="form-horizontal">
	<fieldset>
        
    
    <div class="control-group ">
        <label for="room1FirstName" class="control-label">guest room1FirstName:</label>
        <div class="controls">
            <input id="room1FirstName" name="room1FirstName" type="text" ng-model="bookroom1FirstName">
            
            
        </div>
    </div>
    

    
    <div class="control-group ">
        <label for="room1LastName" class="control-label">guest room1LastName:</label>
        <div class="controls">
            <input id="room1LastName" name="room1LastName" type="text" ng-model="bookroom1LastName">
            
            
        </div>
    </div>
    
    
    <div class="control-group ">
        <label for="email" class="control-label">guest email:</label>
        <div class="controls">
            <input id="email" name="email" type="text" ng-model="bookemail">
            
            
        </div>
    </div>
    

    <div>
	<br>
	<br>
	credit card info:
	<br>
    <div class="control-group ">
        <label for="firstName" class="control-label">cc holder firstName:</label>
        <div class="controls">
            <input id="firstName" name="firstName" type="text" ng-model="bookfirstName">
            
            
        </div>
    </div>
    

    
    <div class="control-group ">
        <label for="lastName" class="control-label">cc holder lastName:</label>
        <div class="controls">
            <input id="lastName" name="lastName" type="text" ng-model="booklastName">
            
            
        </div>
    </div>
    

    
    <div class="control-group ">
        <label for="city" class="control-label">cc holder city:</label>
        <div class="controls">
            <input id="city" name="city" type="text" ng-model="bookcity">
            
            
        </div>
    </div>
    

    
    <div class="control-group ">
        <label for="stateProvinceCode" class="control-label">cc holder stateProvinceCode:</label>
        <div class="controls">
            <input id="stateProvinceCode" name="stateProvinceCode" type="text" ng-model="bookstateProvinceCode">
            
            
        </div>
    </div>
    

    
    <div class="control-group ">
        <label for="countryCode" class="control-label">cc holder countryCode:</label>
        <div class="controls">
            <input id="countryCode" name="countryCode" type="text" ng-model="bookcountryCode">
            
            
        </div>
    </div>
    

    
    <div class="control-group ">
        <label for="postalCode" class="control-label">cc holder postalCode:</label>
        <div class="controls">
            <input id="postalCode" name="postalCode" type="text" value="0" ng-model="bookpostalCode">
        </div>
    </div>
	</div>
	<br>
		<br><div class="form-actions">
			<a ng-href="#/created-packages/{{singlepackage.id}}/reserve/hotelSearch/booked"><button class="btn btn-primary" >Book Hotel</button></a>
		</div>
	</fieldset>
</form>
<br>