<!--<h4>Hotel search for package: {{reservingpackage.package_name}}</h4>-->
<form enctype="multipart/form-data" class="form-horizontal" name="hotelSearchForm">
	<fieldset>
		<div class="control-group ">
			<label for="package_name" class="control-label">Going to:</label>
			<div class="controls">
				<label class="control-label">City:</label>
				<input class="form-control" type="text" ng-model="hotelCity">
				<label >State:</label>
				<input class="form-control" type="text" ng-model="hotelState">
			</div>
		</div>
		<div class="control-group ">
			<label for="start_date" class="control-label">Check in:</label>
			<input id='datepickera1' class="form-control"  type="text" ng-model="hotelStartDate">
		</div>
		<div class="control-group ">
			<label for="end_date" class="control-label">Check out:</label>
			<div class="controls">
				<input id='datepickera2' class="form-control" name="end_date" type="text" ng-model="hotelEndDate">
			</div>
		</div>
		<br>
		<div class="form-actions">
			<a ng-href="#/created-packages/reserve/hotelSearch/searchResults"><button class="btn btn-primary">Search</button></a>
		</div>
		<script type="text/javascript">
			$(document).ready(
			  /* This is the function that will get executed after the DOM is fully loaded */
			  function () {
				$( "#datepicker1" ).datepicker({
				  changeMonth: true,//this option for allowing user to select month
				  changeYear: true //this option for allowing user to select from year range
				});
				$( "#datepicker2" ).datepicker({
				  changeMonth: true,//this option for allowing user to select month
				  changeYear: true //this option for allowing user to select from year range
				});
			  }
			);
		</script>
	</fieldset>
</form>